<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-5 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-10 mx-auto">
                <img class="icono" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/SEDENA_Logo_2019.svg/1280px-SEDENA_Logo_2019.svg.png" alt="">
                <br>
                <br>
              </div>
              <div class="col-md-9 col-lg-10 mx-auto">
                <h2 class="login-heading">Ingreso a la Plataforma</h2>
                <hr style="height:1px;border-width:0;color:gray;background-color:gray">
                <!-- Sign In Form -->
                <div *ngIf="warning" class="alert alert-warning" role="alert">  A simple warning alert—check it out!
                </div><!-- div para desplegar Warning-->
                <form [formGroup]="formReg" (submit)="FormLogin()">
                  <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required formControlName="email">
                    <label for="floatingInput">Correo Electronico</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" required formControlName="password">
                    <label for="floatingPassword">Contraseña</label>
                  </div>
                  <div class="d-grid">
                    <div class="text-center">
                      <div class="col-md-12">
                        <button class="btn btn-secondary btn-login btn-block text-uppercase fw-bold mb-2" type="submit">Iniciar Sesion</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>