<nav class="navbar navbar-expand-lg d-flex justify-content-around py-2" style="background-color: rgb(73, 58, 58 );">
    <div class="d-flex flex-row " style="background-color: rgb(241, 232, 232);">
        <img class="icono"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/SEDENA_Logo_2019.svg/1280px-SEDENA_Logo_2019.svg.png"
            alt="">
    </div>
    <div>
        <!--<h5> Unidad 1</h5>-->
       <!-- <form class="form-inline my-2 my-lg-0" [formGroup]="formReg" (submit)="FormRegistro()">
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let item of unidades" [name]="item.val">{{item.unidad}} </option>
                    <option>Todas las unidades</option>
                </select>
            </div>
            <button type="submit"> buscar</button>
        </form>-->
    </div>
    <div>
        <form class="form-inline my-2 my-lg-0" [formGroup]="formReg" (submit)="formSearch()"> 
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="buscar" required formControlName="buscar">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </form>
    </div>
    <div>
        <button class="btn btn-secondary mx-3 rounded-circle" type="submit"><i class="fa fa-user-plus"
                aria-hidden="true" routerLink="/registro"></i></button>
        <button class="btn btn-secondary mx-3 rounded-circle" type="submit" (click)="prueba(0)"><i class="fa fa-rotate-left"></i></button>
        
        <button class="btn btn-secondary mx-3 rounded-circle" type="submit" routerLink="/login"><i class="fa fa-door-open"
                aria-hidden="true"></i></button>
    </div>
</nav>
<div class="container my-4 py-3">
    <div class="alert alert-dark my-3" role="alert">
        Aqui se muestran los registros del personal de cada cuartel, puede realizar busquedas mediante el nombre, puesto o matricula
        <br>Tambien podrá seleccionar las unidades que desea observar 
      </div>
    <div class="d-flex justify-content-start my-1" >
        <button class="btn2 btn-secondary" type="submit" *ngFor="let item of unidades" (click)="prueba(item.val)">
            {{item.unidad}}
        </button>
    </div>
    <div class="table-responsive" style="background-color: rgba(91, 122, 91, 0.705);">
        <table class="table">
            <thead class="thead-mil">
                <tr>
                    <th scope="col">Agente <i class="fa fa-sort"></i> </th>
                    <th scope="col">Nombre<i class="fa fa-sort"></i></th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Configuración</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fila" *ngFor="let item of personalList">
                    <th scope="row">
                        <div><a href="#" data-abc="true"><span class="w-60 avatar gd-warning"><img
                                         [src]="item.img" width="100" height="100"
                                        alt="."></span></a></div>
                    </th>
                    <td>{{item.fname +" "+ item.lname}}</td>
                    <td>{{item.puesto}} </td>
                    <td>{{item.matricula}} </td>
                    <td>Orig: {{item.origen}} <br> Now :{{item.lugar}}</td>
                    <td>
                        {{item.check[0]}}
                    </td>
                    <td class="text">
                        <span class=" status">
                            <i style="color:green" *ngIf="item.color == 1" class="fa fa-circle" aria-hidden="true"></i>
                        </span>
                        <span class=" status">
                            <i style="color:gray" *ngIf="item.color == 0" class="fa fa-circle" aria-hidden="true"></i>
                        </span>
                        <span class=" status">
                            <i style="color: yellow" *ngIf="item.color == 2" class="fa fa-circle" aria-hidden="true"></i>
                        </span>
                    </td>
                    <td>
                        <!--<button type="button" class="btn btn-primary btn-sm "><i class="fa fa-gear"></i></button>-->
                        <button type="button" class="btn btn-primary btn-sm " (click)="eliminarRegistro(item.origen,item.idcard)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>